<div class="experienceSection" #experience>
  <h3>Ervaring</h3>

  <div class="grid-container" id="experiencecontainer">
    <div class="grid-item">
      <ul>JOBSTUDENT – GALLO-ROMEINS MUSEUM
        <li>Uitdelen audioguides</li>
        <li>Opstellen jaarverslagen in Excel</li>
      </ul>
    </div>

    <div class="grid-item">
      <ul>JOBSTUDENT – DE BRON
        <li>Barman</li>
        <li>Opdienen</li>
      </ul>
    </div>
    
    <div class="grid-item">
      <ul>SCHOOLPROJECT – AVIOBOOK
        <li>Angular app met Java Spring Boot backend en MongoDb database</li>
      </ul>
    </div>

    <div class="grid-item">
      <ul>STAGE – ZIEKENHUIS OOST-LIMBURG GENK – FUTURE HEALTH
        <li>Xamarin app met PHP backend</li>
        <li>Gitlab pipeline opstellen</li>
      </ul>
    </div>
  </div>
</div>