<div class="skillssection" #skills>
  <h3>Vaardigheden</h3>

  <div class="grid-container" id="skillscontainer">
    <div class="grid-item"><img class="wideIcon" src="../assets/icons/angular.png" alt="angular"></div>
    <div class="grid-item"><img class="icon" src="../assets/icons/aspNet.png" alt="asp.net"></div>
    <div class="grid-item"><img class="icon" src="../assets/icons/cSharp.png" alt="cSharp"></div>  
    <div class="grid-item"><img class="icon" src="../assets/icons/css.png" alt="css"></div>
    <div class="grid-item"><img class="wideIcon" src="../assets/icons/git.png" alt="git"></div>
    <div class="grid-item"><img class="icon" src="../assets/icons/gitlab.png" alt="gitlab"></div>  
    <div class="grid-item"><img class="icon" src="../assets/icons/html.png" alt="html"></div>
    <div class="grid-item"><img class="icon" src="../assets/icons/java.png" alt="java"></div>
    <div class="grid-item"><img class="wideIcon" src="../assets/icons/mongodb.png" alt="mongodb"></div> 
    <div class="grid-item"><img class="icon" src="../assets/icons/mysql.png" alt="mysql"></div>  
    <div class="grid-item"><img class="wideIcon" src="../assets/icons/office.png" alt="office"></div>
    <div class="grid-item"><img class="icon" src="../assets/icons/php.png" alt="php"></div>
    <div class="grid-item"><img class="wideIcon" src="../assets/icons/spring.png" alt="spring"></div>  
    <div class="grid-item"><img class="icon" src="../assets/icons/xamarin.png" alt="xamarin"></div>
    <div class="grid-item">UWP</div>
    <div class="grid-item">WPF</div>  
    <div class="grid-item">Entity Framework</div>
    <div class="grid-item">Linq</div> 
  </div>
</div>