<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="goDown1()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" role="button" (click)="scroll(header)" >Profiel</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" role="button" routerLink="bio" routerLinkActive="active" (click)="scroll(experience)">Ervaring</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" role="button" (click)="scroll(skills)">Vaardigheden</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" role="button" (click)="scroll(education)">Opleiding</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" role="button" (click)="scroll(languages)">Talen</a>
      </li>
    
    </ul>
  </div>
</nav>

<app-header #header></app-header >
<div #profile><app-profile ></app-profile></div>
<div #experience><app-experience></app-experience></div>
<div #skills><app-skills></app-skills></div>
<div #education><app-education></app-education></div>
<div #languages><app-languages></app-languages></div>




