<div class="personalSection" #profile>
  <h3 id="personalTitle">Profiel</h3>
   <p class="profile">  
     {{profiel}} 
   </p>
<!--
   <carousel cellsToShow=1 autoplay=true 
   autoplayInterval=6000 transitionDuration=800 
   arrowsTheme=dark id="carousel" loop=true
   cellWidth=600 width=1000>
   <div class="carousel-cell">
       <img src="../assets/proclamatie.jpg" alt="proclamatie">
   </div>
   <div class="carousel-cell">
     <img src="../assets/avio.jpg" alt="AVIOBOOK">
   </div>
       
</carousel>
-->
 </div>